{"question": "Ali günün 1/3'ünü uyuyarak, 1/6'sını okulda, 1/12'sini ödev yaparak geçiriyor ve günün geri kalanını ailesiyle geçiriyor. Ali günün kaç saatini ailesiyle geçiriyor?", "answer": "Ali günün 24/3 = <<24/3=8>>8 saatini uyuyarak geçiriyor.\n24/6 = <<24/6=4>>4 saatini okulda geçiriyor.\n24/12 = <<24/12=2>>2 saatini ödev yaparak geçiriyor.\nAli, uyuyarak, okulda ve ödev yaparak toplam 8 + 4 + 2 = <<8+4+2=14>>14 saat geçiriyor.\nBu nedenle, Ali günün geri kalanında 24 - 14 = <<24-14=10>>10 saat ailesiyle geçiriyor.\n#### 10"}
{"question": "Ayşe bir dalgıçtır. Küçük bir Karayip adası açıklarında batan bir gemiyi kazı çalışmalarıyla araştırıyor ve su altında uzun süre kalması gerekiyor. Suya ilk girdiğinde kullandığı ana tüp, 2 saat su altında kalmasına yetecek kadar oksijen içeriyor. Ayrıca yanına birer saatlik yedek tüpler alıyor ve bunları deniz tabanında değiştiriyor. 8 saat su altında kalması gerektiğine göre, kaç tane yedek tüpe ihtiyacı var?", "answer": "8 saatlik bir dalış için Ayşe, 2 saatlik ana tüpünü kullanacak ve geri kalan 8-2=<<8-2=6>>6 saat için yedek tüplere ihtiyacı olacak.\nHer bir yedek tüp 1 saat oksijen sağladığına göre, 6 saat için 6/1=<<6/1=6>>6 yedek tüpe ihtiyacı var.\n#### 6"}
{"question": "Toplantıda 55 kişi var. Bunlardan 30'u erkek, geri kalanlar kız. Kızların beşte üçü uzun saçlı, diğerleri kısa saçlı. Kısa saçlı kaç kız var?", "answer": "Toplamda 55-30 = <<55-30=25>>25 kız var.\nUzun saçlı kızların sayısı (25/5)*3 = <<25/5*3=15>>15'tir.\nKısa saçlı kızların sayısı ise 25-15 = <<25-15=10>>10'dur.\n#### 10"}
{"question": "Eren Coğrafya testinden 50, Matematik testinden 70 ve İngilizce testinden 66 puan aldı. Tarih testindeki puanı bu üç testin ortalamasıysa, dört dersin toplam puanı kaçtır?", "answer": "İlk 3 dersin toplam puanı 50+70+66 = <<50+70+66=186>>186'dır.\nBu üç dersin ortalaması olan Tarih testi puanı = toplam/3 = 186/3 = <<186/3=62>>62'dir.\nBu nedenle, dört dersin toplam puanı = 186+62 = <<186+62=248>>248'dır.\n#### 248"}
{"question": "Fatma üç düzine yumurta sipariş etti. Bunun 1/4'ünü krep yapmak için, geri kalanının 2/3'ünü cupcake yapmak için kullanacak. Kahvaltıda menemen yapmak için kaç yumurta kalır?", "answer": "Bir düzine 12 olduğuna göre, 3 düzine yumurta 12 x 3 = <<3*12=36>>36 yumurta eder.\nFatma krep yapmak için 36 x 1/4 = <<36*1/4=9>>9 yumurta kullanır.\nBu durumda 36 - 9 = <<36-9=27>>27 yumurta kalır.\nBu yumurtaların 27 x 2/3 = <<27*2/3=18>>18'i cupcake yapmak için kullanılır.\nSonuç olarak, kahvaltıda menemen yapmak için 27 - 18 = <<27-18=9>>9 yumurta kalır.\n#### 9"}
{"question": "Burak'ın 42 doları var. Burak bu paranın yarısını kardeşine verir. Kardeşi 3 dolara şeker alır. Kardeşinin 35 doları kaldığına göre, başlangıçta ne kadar parası vardı?", "answer": "Burak 42/2=<<42/2=21>>21 dolar verir.\nKardeşi şeker almadan önce 35+3=<<35+3=38>>38 doları vardı.\nKardeşinin başlangıçta 38-21=<<38-21=17>>17 doları vardı.\n#### 17"}
{"question": "Kemal bir oyunda 20 puan aldı, takım arkadaşı Mehmet Kemal'in aldığının yarısını aldı. Diğer takım arkadaşları ise Mehmet'in aldığının 6 katını aldı. Takımın oyuncu başına ortalama puanı kaçtır?", "answer": "İlk olarak, Mehmet'in aldığı puanı bulmamız gerekiyor. Kemal'in aldığının yarısını aldığına göre, 20/2=<<20/2=10>>10 puan aldı.\nDaha sonra diğer takım arkadaşının aldığı puanı bulmak için 10*6=<<10*6=60>>60 puan aldı.\nÜç oyuncunun toplam puanını bulmak için 20+10+60=<<20+10+60=90>>90 puan olarak hesaplarız.\nSon olarak, bu toplamı oyuncu sayısına böleriz: 90/3=<<90/3=30>>30 puan oyuncu başına düşer.\n#### 30"}
{"question": "Bir toplantı salonunda 40 tane, her biri 2 kişilik sandalye, şirketin yönetim kurulu toplantısı için sıraya dizilmiştir. Sandalyelerin kapasitesi ile toplantıya katılan üye sayısı aynıdır. Sandalyelerin 2/5'i boş bırakılmış ve kalanların her biri iki kişiyle dolmuşsa, toplantıya kaç üye katılmıştır?", "answer": "40 sandalyenin toplam kapasitesi 40*2=<<40*2=80>>80 kişidir.\nSandalyelerin 2/5'i boş bırakıldığına göre, 2/5*80=<<2/5*80=32>>32 kişi toplantıya katılmamış demektir.\nToplantıya katılan üye sayısı ise 80-32=<<80-32=48>>48'dir.\n#### 48"}
{"question": "Hüseyin'in 100 bilyesi vardı. 20 bilyeyi kendisine ayırdı ve geri kalanını 5 arkadaşına eşit olarak paylaştırdı. Her bir arkadaşına kaç bilye düştü?", "answer": "Hüseyin 100 - 20 = <<100-20=80>>80 bilyeyi arkadaşlarına paylaştırdı.\nBu durumda, 5 arkadaşı 80/5 = <<80/5=16>>16 bilye aldı.\n#### 16"}
{"question": "Tatilde Ahmet, bir adadaki farklı plajları ziyaret ettiği için zaman zaman konakladığı yeri değiştirir. İlk 3 gün bir hostelde kalır ve gecelik 15 dolar öder. Dördüncü ve beşinci gün bir kulübede kalır, burada 2 arkadaşıyla masrafları paylaşır ve gecelik toplam 45 dolar öderler. Ahmet konaklama için ne kadar harcadı?", "answer": "İlk 3 gün için Ahmet 3 * 15 = <<3*15=45>>45 dolar öder.\nSonraki 2 gün boyunca, Ahmet ve arkadaşları toplam 45 * 2 = <<45*2=90>>90 dolar öderler.\nAhmet ve 2 arkadaşı bu 90 doları paylaşır: 90 / 3 = <<90/3=30>>30 dolar kişi başı.\nToplamda Ahmet 45 + 30 = <<45+30=75>>75 dolar harcamıştır.\n#### 75"}
